{% extends "explorer/base.html" %}

{% block sql_explorer_navlinks %}
    {% if can_change %}
      <li><a href="{% url "query_create" %}">New Query</a></li>
      <li><a href="{% url "explorer_playground" %}">Playground</a></li>
      <li><a href="{% url "explorer_logs" %}">Logs</a></li>
      <li class="active"><a href="{% url "table_browser" %}">Table browser</a></li>
    {% endif %}
{% endblock %}

{% block sql_explorer_content %}
<h3>All tables</h3>
<div class="table-responsive">
    <table class="table table-striped query-list">
        <thead>
            <tr>
                <th>Schema</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {% for table,columns in tables %}
            <tr>
                <td></td>
                <td>{{ table }}</td>
                <td><a href="">Explore</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}